:9100 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / nodeexporter:9100 {
            transparent
        }

    errors stderr
    tls off
}

:8080 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / cadvisor:8080 {
            transparent
        }

    errors stderr
    tls off
}